@import "tailwindcss";



.animate-fade-up { animation: fadeInUp 0.7s ease forwards; }
.animate-fade-left { animation: fadeInLeft 0.7s ease forwards; }
.animate-fade-right { animation: fadeInRight 0.7s ease forwards; }
.animate-float { animation: float 3s ease-in-out infinite; }
.animate-pulse-ring { animation: pulse-ring 2s infinite; }

.delay-100 { animation-delay: 0.1s; }
.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }
.delay-400 { animation-delay: 0.4s; }
.delay-500 { animation-delay: 0.5s; }

.opacity-0-start { opacity: 0; }
